@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome angular in mvc core</h1>
        <app-root></app-root>
        <script src="~/myAngular/runtime.js" defer></script>
        <script src="~/myAngular/polyfills.js" defer></script>
        <script src="~/myAngular/styles.js" defer></script>
        <script src="~/myAngular/vendor.js" defer></script>
        <script src="~/myAngular/main.js" defer></script>

    </div>
